.profilePage {
  flex-direction: column;
}

.profileTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
}

.trips {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px;
}

.createTripBtn {
    width: 120px;
}