.hero {
  height: 85vh;
  width: calc(100vw - 40px);
  margin: 20px;
  background-image: url("HeroBG.png");
  border-radius: 20px;
  background-position: bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  overflow: hidden;
}

.heading {
  font-size: 80px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  color: #fafafa;
  line-height: 90px;
}

.subHeading {
  font-size: 20px;
  color: #fafafa;
  margin-top: 20px;
  width: 50vw;
}

@media screen and (max-width: 1024px) {
  .heading {
    font-size: 60px;
    line-height: 70px;
  }

  .subHeading {
    font-size: 18px;
    width: 80vw;
  }

  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 48px;
    line-height: 56px;
  }

  .subHeading {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 36px;
    line-height: 44px;
  }

  .subHeading {
    font-size: 14px;
  }
}
