@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");
@import "leaflet/dist/leaflet.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TikTok Sans", sans-serif;
  color: #1d1d1d;
}

body {
  background-color: #f9fbfc;
}

/* font-family: "Red Hat Display", sans-serif; */

.Toastify__close-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

::-webkit-scrollbar {
  display: none;
}
