@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TikTok Sans", sans-serif;
}

body {
  background-color: #FAFAFA;
}

/* font-family: "Red Hat Display", sans-serif; */